.loading{
	position:fixed;
	z-index:100;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(255,255,255,.9);
}
.loading:after{
	position:absolute;
	content:'';
	top:40%;
	left:50%;
	margin-left:-20px;
	margin-top:-20px;
	width:40px;
	height:40px;
	border:4px solid #057bf7;
	border-left-color:transparent;
	border-radius:50%;
	animation:loading 1s infinite linear;
}
@-webkit-keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
@-o-keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
@-moz-keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
@keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
.cus-navbar{
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	right:0;
	background:rgba(255,255,255,.8);
	box-shadow:0 2px 10px #000;
	border:none;
}
.cus-navbar .home{
	float:left;
	padding:0 12px;
	height:50px;
	line-height:50px;
	font-size:26px;
	color:#057bf7;
	border-radius:6px;
	transition:all .2s linear;
}
.cus-navbar .link{
	float:right;
	padding:0 12px;
	line-height:50px;
	font-size:20px;
	color:#000;
}
.cus-navbar .link:hover{
	color:#057bf7;
}
.cus-navbar .text{
	float:left;
	line-height:50px;
	font-weight:bold;	
	color:#057bf7;
}
.cus-navbar .bar{
	display:none;
	float:right;
	padding:0 12px;
	height:50px;
	line-height:50px;
	font-size:22px;
	color:#000;
	border-radius:6px;
	cursor:pointer;
}
.cus-navbar .bar.active,.cus-navbar .bar:hover{
	color:#057bf7;
}
.main-body{
	margin-top:60px;
}
.move{
	animation:move .6s 2 linear;
}
@-webkit-keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
@-o-keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
@-moz-keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
@keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
.main-left{
	position:fixed;
	top:50px;
	padding-top:6px;
	width:200px;
	bottom:0;
	overflow-y:auto;
	background:rgba(0,0,0,.8);	
}
.main-left-nav>.item>a{
	padding:6px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.main-left-nav>.item>a:hover{
	color:#057bf7;
	text-decoration:underline;
}
.main-left-nav>.item.active>a{
	color:#057bf7;	
}
.main-left-nav>.item>a>.fa{
	margin-right:6px;
}
.main-right{
	margin-left:200px;
	margin-top:10px;
	height:100%;
	background:transparent;
}
@media (max-width:768px) {
	.cus-navbar .bar{
		display:block;
	}
	.main-left{
		width:0;
		overflow:visible;
	}
	.main-left-nav{
		transition:height .3s ease;
		position:fixed;
		top:50px;
		width:100%;
		height:0;
		text-align:center;
		overflow:hidden;
		background:rgba(0,0,0,.6);
	}
	.main-left-nav.active{
		height:150px;
	}
	.main-right{
		margin-left:0;
	}
}
.main-right-item{
	transition:all .2s linear;
	margin:10px;
	padding:10px 10px 0 10px;
	color:#777;
	border:1px solid #ddd;
	border-radius:4px;
}
.main-right-item .item-content{
	overflow:hidden;
}
.main-right-item .user{
	float:left;
	margin-right:10px;
}
.main-right-item .user img{
	width:80px;
	height:80px;
	vertical-align:middle;	
	border:1px solid #ddd;	
	border-radius:4px;
}
.main-right-item .detail{	
}
.main-right-item .title{
	line-height:26px;	
	text-indent:20px;
	font-size:14px;
	font-weight:bold;
}
.main-right-item .title a{
	color:#00b7f8;
}
.main-right-item .title a:hover{
	text-decoration:underline;
}
.main-right-item .text{
	text-indent:20px;
	line-height:26px;
	word-break:break-all;
	font-size:14px;
}
.main-right-item .text a{
	color: #ff3000;
    font-weight: bold;
}
.main-right-item .text a:hover{
	text-decoration:underline;
}
.main-right-item:hover,.main-right-item.border{
	border-color:#0abdef;
	color:#000;
	box-shadow: 0 0 10px #03cff7;
}
.main-right-item .item-sign{
	padding-top:10px;
}
.main-right-item .item-sign .sign-default:not(:last-child){
	margin-right:10px;
}
.sign-default{
	display:inline-block;
	transition:all .3s linear;
	margin-bottom:10px;
	padding: 4px 16px;
    line-height: 20px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background:#aaa;
	border-radius:6px;
	cursor:pointer;
}
.sign-default:hover{
	background:#777;
}
.sign-js{
	background:#049cf7;
}
.sign-js:hover{
	background:#057bf7;
}
.sign-css{
	background:#0cd80a;
}
.sign-css:hover{
	background:#0da94c;
}
.sign-self{
	background:#09dbf3;
}
.sign-self:hover{
	background:#28cde0;
}
.sign-copy{
	background:#f30505;
}
.sign-copy:hover{
	background:#d5050a;
}
.sign-others{
	background:#f7c553;
}
.sign-others:hover{
	background:#ffa500;
}

/*markdown*/
.main-right-article{
	padding:10px;
	font-size:14px;
	font-family: Monaco, Andale Mono, Courier New, monospace;
}
.main-right-article h1 {
	margin-bottom:10px;
	padding-left:12px;
    font-size:30px;
    color:#f30505;
    border-left:4px solid #f30505;
}

.main-right-article h2 {
	margin-bottom:10px;
	padding-left:12px;
    font-size:26px;
    color:#0cd80a;
    border-left:4px solid #0cd80a;
}

.main-right-article h3 {
	margin-bottom:6px;
	padding-left:12px;
    font-size:20px;
    color:#057bf7;
}

.main-right-article h4 {
	margin-bottom:6px;
	padding-left:12px;
    font-size:18px;
    color:#ffa500;
}

.main-right-article h5,h6 {
	margin-bottom:6px;
	padding-left:12px;
    font-size:16px;
}
.main-right-article pre,.main-right-article code{
	font-family: Monaco, Andale Mono, Courier New, monospace;	
	font-weight:bold;	
}
.main-right-article pre{
	display: block;
	padding: 14px;
	margin-bottom:10px;
	line-height:16px;
	font-size: 12px;
	border:1px solid #d9d9d9;
	white-space: pre-wrap;
	color:#eee;
	background:#666;
	word-wrap: break-word;
}
.main-right-article code.lang-javascript{
	color:#fff;
}
.main-right-article>blockquote{
	margin-bottom:6px;
}
.main-right-article>blockquote p {
	padding:4px 0 4px 10px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;	
	color:#26eab5;
	background:#666;
	border-left:6px solid #26eab5;
}
.main-right-article>blockquote ul li{
	line-height:26px;
}
.main-right-article>blockquote ul li:before{
	display:inline-block;
	margin-right:6px;
	content:'';
	width:6px;
	height:6px;
	background:#000;
	border-radius:50%;
}
.main-right-article>p{
	margin-bottom: 6px;
	line-height:26px;
}
.main-right-article>p>code{
	padding:2px;
    color: #fff;
    background: #07a7f7;
}
.main-right-article>p>a{
	line-height:26px;
	color:#f30505;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
}
.main-right-article>p>a:hover{
	color:#ff0000;
}
.main-right-article>p>img{
	max-width:100%;
	height:auto;
}
.main-right-article>table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
.main-right-article td,th { 
    border: 1px solid #ddd;
    padding: 3px 10px;
}
.main-right-article th {
    padding: 5px 10px;  
}