.loading{
	position:fixed;
	z-index:100;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(255,255,255,.9);
}
.loading:after{
	position:absolute;
	content:'';
	top:40%;
	left:50%;
	margin-left:-20px;
	margin-top:-20px;
	width:40px;
	height:40px;
	border:4px solid #057bf7;
	border-left-color:transparent;
	border-radius:50%;
	animation:loading 1s infinite linear;
}
@-webkit-keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
@-o-keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
@-moz-keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
@keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
.cus-navbar{
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	right:0;
	background:rgba(255,255,255,.8);
	box-shadow:0 2px 10px #000;
	border:none;
}
.cus-navbar .home{
	float:left;
	padding:0 12px;
	height:50px;
	line-height:50px;
	font-size:26px;
	color:#057bf7;
	border-radius:6px;
	transition:all .2s linear;
}
.cus-navbar .link{
	float:right;
	padding:0 12px;
	line-height:50px;
	font-size:20px;
	color:#000;
}
.cus-navbar .text{
	float:left;
	line-height:50px;
	font-weight:bold;	
	color:#057bf7;
}
.cus-navbar .bar{
	display:none;
	float:right;
	padding:0 12px;
	height:50px;
	line-height:50px;
	font-size:22px;
	color:#000;
	border-radius:6px;
	cursor:pointer;
}
.cus-navbar .bar.active{
	color:#057bf7;
}
.main-body{
	margin-top:60px;
}
.move{
	animation:move .6s 2 linear;
}
@-webkit-keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
@-o-keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
@-moz-keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
@keyframes move {
	from { margin-top:60px }
	to { margin-top:80px }
}
.main-left{
	position:fixed;
	top:50px;
	padding-top:6px;
	width:200px;
	bottom:0;
	overflow-y:auto;
	background:rgba(0,0,0,.8);	
}
.main-left-nav>.item>a{
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
	padding:6px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.main-left-nav>.item>a:hover{
	color:#057bf7;
	text-decoration:underline;
}
.main-left-nav>.item.active>a{
	color:#057bf7;	
}
.main-left-nav>.item>a>.fa{
	margin-right:6px;
}
.main-right{
	margin-left:200px;
	margin-top:10px;
	height:100%;
	background:transparent;
}
@media (max-width:768px) {
	.cus-navbar .bar{
		display:block;
	}
	.main-left{
		width:0;
		overflow:visible;
	}
	.main-left-nav{
		transition:height .3s ease;
		position:fixed;
		top:50px;
		width:100%;
		height:0;
		text-align:center;
		overflow:hidden;
		background:rgba(0,0,0,.6);
	}
	.main-left-nav.active{
		height:210px;
	}
	.main-right{
		margin-left:0;
	}
}
.main-right-item{
	transition:all .2s linear;
	margin:10px;
	padding:10px 10px 0 10px;
	color:#777;
	border:1px solid #ddd;
	border-radius:4px;
}
.main-right-item .item-content{
	overflow:hidden;
}
.main-right-item .user{
	float:left;
	margin-right:10px;
}
.main-right-item .user img{
	width:80px;
	height:80px;
	vertical-align:middle;	
	border:1px solid #ddd;	
	border-radius:4px;
}
.main-right-item .detail{	
}
.main-right-item .title{
	line-height:26px;	
	text-indent:20px;
	font-size:14px;
	font-weight:bold;
}
.main-right-item .title a{
	color:#00b7f8;
}
.main-right-item .title a:hover{
	text-decoration:underline;
}
.main-right-item .text{
	text-indent:20px;
	line-height:26px;
	word-break:break-all;
	font-size:14px;
}
.main-right-item .text a{
	color: #ff3000;
    font-weight: bold;
}
.main-right-item .text a:hover{
	text-decoration:underline;
}
.main-right-item:hover,.main-right-item.border{
	border-color:#0abdef;
	color:#000;
	box-shadow: 0 0 10px #03cff7;
}
.main-right-item .item-sign{
	padding-top:10px;
}
.main-right-item .item-sign .sign-default:not(:last-child){
	margin-right:10px;
}
.sign-default{
	display:inline-block;
	transition:all .3s linear;
	margin-bottom:10px;
	padding: 4px 16px;
    line-height: 20px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background:#aaa;
	border-radius:6px;
	cursor:pointer;
}
.sign-default:hover{
	background:#777;
}
.sign-js{
	background:#049cf7;
}
.sign-js:hover{
	background:#057bf7;
}
.sign-css{
	background:#0cd80a;
}
.sign-css:hover{
	background:#0da94c;
}
.sign-self{
	background:#09dbf3;
}
.sign-self:hover{
	background:#28cde0;
}
.sign-copy{
	background:#f30505;
}
.sign-copy:hover{
	background:#d5050a;
}
.sign-others{
	background:#f7c553;
}
.sign-others:hover{
	background:#ffa500;
}

/*markdown*/
@-webkit-keyframes spread {
	0% {transform:scale(0.98);opacity:0.2;}
	100% {transform:scale(1);opacity:1;}
}
@-o-keyframes spread {
	0% {transform:scale(0.98);opacity:0.2;}
	100% {transform:scale(1);opacity:1;}
}
@-moz-keyframes spread {
	0% {transform:scale(0.98);opacity:0.2;}
	100% {transform:scale(1);opacity:1;}
}
@keyframes spread {
	0% {transform:scale(0.98);opacity:0.2;}
	100% {transform:scale(1);opacity:1;}
}
.main-right-article{
	padding:10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
	-webkit-animation: spread .6s 1 ease-in-out;
	-moz-animation: spread .6s 1 ease-in-out;
	-o-animation: spread .6s 1 ease-in-out;
	animation: spread .6s 1 ease-in-out;
}
.main-right-article pre,.main-right-article code{
	font-family: Monaco, Andale Mono, Courier New, monospace;	
	font-weight:bold;	
}
.main-right-article>*:first-child {
    margin-top: 0 !important
}
.main-right-article>*:last-child {
    margin-bottom: 0 !important
}

.main-right-article a:not([href]) {
    color: inherit;
    text-decoration: none
}
.main-right-article p,.main-right-article blockquote,.main-right-article ul,.main-right-article ol,.main-right-article dl,.main-right-article table,.main-right-article pre {
    margin-top: 0;
    margin-bottom: 6px
}
.main-right-article hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0
}
.main-right-article blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5
}
.main-right-article blockquote>:first-child {
    margin-top: 0
}
.main-right-article blockquote>:last-child {
    margin-bottom: 0
}
.main-right-article h1,.main-right-article h2,.main-right-article h3,.main-right-article h4,.main-right-article h5,.main-right-article h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.25
}
.main-right-article h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    color:#f30505;
}
.main-right-article h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    color:#0cd80a;
}
.main-right-article h3 {
    font-size: 1.25em;
    color:#057bf7;
}
.main-right-article h4 {
    font-size: 1.1em;
    color:#ffa500;
}
.main-right-article h5,.main-right-article h6 {
    font-size: 1em
}
.main-right-article>p>img{
	max-width:100%;
	height:auto;
}
.main-right-article ul,.main-right-article ol {
    padding-left: 2em
}
.main-right-article ul ul,.main-right-article ul ol,.main-right-article ol ol,.main-right-article ol ul {
    margin-top: 0;
    margin-bottom: 0
}
.main-right-article li {
    word-wrap: break-all
}
.main-right-article li>p {
    margin-top: 16px
}
.main-right-article li+li {
    margin-top: .25em
}
.main-right-article dl {
    padding: 0
}
.main-right-article dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
}
.main-right-article dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}
.main-right-article table {
    display: block;
    width: 100%;
    overflow: auto
}
.main-right-article table th {
    font-weight: 600
}
.main-right-article table th,.main-right-article table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}
.main-right-article table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}
.main-right-article table tr:nth-child(2n) {
    background-color: #f6f8fa
}
.main-right-article table img {
    background-color: transparent
}
.main-right-article img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
}
.main-right-article code,.main-right-article tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px
}
.main-right-article>p>code{
	padding:2px;
    color: #fff;
    background: #07a7f7;
}
.back-top{
	transition:all .4s linear;
	display:none;
	position:fixed;
	z-index:1;
	padding:8px;
	right:2px;
	bottom:20px;
	color:#fff;
	text-align:center;
	background:rgba(0,0,0,.8);
	border-radius:6px;
	cursor:pointer;
}
.back-top.active{
	display:block;
}
.back-top:hover{
	background:#0cd80a;
}
.back-top .fa{
	font-size:20px;
}
.back-top p{
	line-height:20px;
	font-size:12px;
}
.others-links{
	position:fixed;
	z-index:10;
	right:4px;
	top:50%;
	transform:translateY(-50%);
	padding:6px;
	width:40px;
	height:auto;
	color:#fff;
	background:rgba(0,0,0,.4);
	border-radius:4px;
	cursor:pointer;
}
.others-links .fa{
	padding-right:4px;
}
.others-links .fa.link-left{
	padding:0 10px;
	height:40px;
	line-height:40px;
	font-size:16px;
}
.others-links h3{
	display:none;
	margin-bottom:6px;	
	color:#24ff00;
}
.others-links .link-list{
	display:none;
	padding-left:2px;
	max-height:120px;
	overflow-y:auto;	
}
.others-links .link-list li{
	line-height:26px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.others-links a{
	color:#fff;
}
.others-links a:hover{
	color:#FFC107;
}
.others-links:hover{
	width:120px;
	background:#000;
}
.others-links:hover .fa.link-left{
	display:none;
}
.others-links:hover h3{
	display:block;
}
.others-links:hover .link-list{
	display:block;
}
